# Data sience tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python 
2.R
3.Scala
4.Julia

#### Objectives:

=>Libraries
=>DS tools
=>Arithmetic expression
=>hours to minutes conversion

Some of the commonly used libraries used by Data Scientists include:

1.Numpy
2.Panda
3.matplotlib

### Data Science Tools

jupyter lab

google collab

jupter notebook

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
a = 1 + 3
a

4

In [8]:
b= 4-2
b

2

In [9]:
c= 3*4
c

12

In [10]:
d= 10/2
d

5.0

In [11]:
e= 10%2
e

0

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
hrs =200/60
hrs

3.3333333333333335

## Author:

PRASANTH K